"*":
  "autocomplete-plus":
    enableBuiltinProvider: false
  build: {}
  "color-picker":
    automaticReplace: true
  core:
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
      "api-workbench"
      "language-lsl"
      "go-plus"
      "linter-js-standard"
      "linter-glsl"
      "block-cursor"
      "language-gfm"
      "markdown-preview-plus"
    ]
    followSymlinks: false
    hideGitIgnoredFiles: true
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    themes: [
      "seti-ui"
      "made-of-code-atom"
    ]
  editor:
    fontFamily: "Monoid"
    fontSize: 9
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    softWrapAtPreferredLineLength: true
    tabType: "soft"
  emmet: {}
  "go-plus":
    formatTool: "gofmt"
  "ide-flow":
    flowPath: "/usr/local/bin/flow"
  linter: {}
  "linter-eslint":
    globalNodePath: "/usr/local"
  "linter-js-standard":
    honorStyleSettings: true
  "linter-pep8": {}
  "linter-swift-package-manager":
    executablePath: "/Library/Developer/Toolchains/swift-latest.xctoolchain/usr/bin/swift"
  "markdown-preview":
    useGitHubStyle: true
  "python-tools": {}
  "release-notes":
    viewedVersion: "0.89.0"
  "seti-ui":
    compactView: true
    disableAnimations: true
    font: "Default Atom Font"
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
    ]
  welcome:
    showOnStartup: false
