"*":
  "autocomplete-elixir":
    elixirPath: "/usr/local/bin"
    erlangHome: "/usr/local/bin"
  "autocomplete-plus":
    enableBuiltinProvider: false
  build: {}
  "color-picker":
    automaticReplace: true
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".flowconfig"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
      "language-lsl"
      "go-plus"
      "linter-js-standard"
      "linter-glsl"
      "block-cursor"
      "language-gfm"
      "markdown-preview-plus"
      "tree-view"
    ]
    followSymlinks: false
    hideGitIgnoredFiles: true
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    themes: [
      "northem-dark-atom-ui"
      "made-of-code-atom"
    ]
  editor:
    fontFamily: "Menlo"
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    softWrapAtPreferredLineLength: true
    tabType: "soft"
  emmet: {}
  "go-plus":
    formatTool: "gofmt"
  "ide-flow":
    flowPath: "/usr/local/bin/flow"
  linter: {}
  "linter-elixirc": {}
  "linter-eslint":
    globalNodePath: "/usr/local"
  "linter-js-standard":
    honorStyleSettings: true
  "linter-pep8": {}
  "linter-swift-package-manager":
    executablePath: "/Library/Developer/Toolchains/swift-latest.xctoolchain/usr/bin/swift"
  "markdown-preview":
    useGitHubStyle: true
  "python-tools": {}
  "release-notes":
    viewedVersion: "0.89.0"
  "seti-ui":
    compactView: true
    disableAnimations: true
    font: "Default Atom Font"
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
      "text.html.basic"
    ]
  welcome:
    showOnStartup: false
