"*":
  "asciidoc-preview":
    skipFrontMatter: false
    tocType: "none"
  "autocomplete-elixir":
    elixirPath: "/usr/local/bin"
    erlangHome: "/usr/local/bin"
  "autocomplete-plus":
    enableBuiltinProvider: false
  "autocomplete-python":
    useKite: false
  build: {}
  "clang-format":
    formatCOnSave: false
    formatCPlusPlusOnSave: false
  "color-picker":
    automaticReplace: true
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".flowconfig"
        ".hgrc"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
      "linter-glsl"
      "block-cursor"
      "language-gfm"
      "markdown-preview-plus"
      "autocomplete-python"
      "python-tools"
      "linter-gcc"
      "highlight-line"
      "linter-pep8"
      "linter-flow"
    ]
    followSymlinks: false
    hideGitIgnoredFiles: true
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "gruvbox-plus-syntax"
    ]
    useCustomTitleBar: true
  editor:
    fontFamily: "Menlo"
    fontSize: 12
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    softWrapAtPreferredLineLength: true
    tabType: "auto"
  emmet: {}
  "file-icons":
    onChanges: true
  "go-plus":
    formatTool: "gofmt"
  "ide-flow":
    flowPath: "/usr/local/bin/flow"
  "language-babel": {}
  linter:
    errorPanelHeight: 22
  "linter-elixirc": {}
  "linter-eslint":
  "release-notes":
    viewedVersion: "0.89.0"
  "seti-ui":
    compactView: true
    disableAnimations: true
    font: "Default Atom Font"
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
      "text.html.basic"
    ]
  tabs:
    enableMruTabSwitching: false
  "unity-ui": {}
  welcome:
    showOnStartup: false
".asciidoc.source":
  editor:
    softWrap: true
