'atom-workspace atom-text-editor:not([mini])':
  'cmd-*': 'editor:toggle-line-comments'

'atom-text-editor[data-grammar~="jsx"]:not([mini])':
  'tab': 'emmet:expand-abbreviation-with-tab'

'.pane .editor:not(.mini)':
  'tab': 'snippets:expand'
